
/* game container */
.game_container {
	max-width: 70vw; /* 70 percent maximum viewport width */
	margin: 0 auto;
    position: relative;
}
#game_text {
    color:darkgreen;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}